<h1 class="text-primary">cart works!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <h2>Select a category</h2>
                <select (change)="GetCategory()" [(ngModel)]="Categories" class="form-control">
                <option *ngFor=" let item of categories">
                    {{item}}
                </option>
                </select>
            </div>
            <div class="form-group">
                <h2>select a product</h2>
                <select (change) = "GetProduct()" [(ngModel)]="products" class="form-control">
                    <option *ngFor=" let item of productList">
                        {{item}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <h2> product Details</h2> 
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            {{prodName}}
                        </h2>
                    </div>
                    <div class="card-body">
                        <img [src] ="prodPhoto" height="200" width="200">
                    </div>
                    <div class="card-footer">
                        <h2>{{prodPrice | currency : 'INR'}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    